.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  background: url("../assets/auth_bg.jpg") center/cover no-repeat;
}
.auth-form {
  --input-focus: #677D6A;
  --font-color: #D6BD98;
  --font-color-sub: #8dd295;
  --bg-color: #40534C;
  --main-color: #1A3636;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  backdrop-filter: blur(8px) brightness(1.3);
  border-radius: 12px;
}
.auth-form.hidden { display: none !important; }
.auth-form.visible { display: inline-flex !important; }

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 20px;
}

.title a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 700;
}

.auth-input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.auth-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.auth-input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-logo {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color-sub);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-logo:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 20px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color-sub);
  cursor: pointer;
}

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0 0 0;
  padding: auto 15px 15px auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color-sub);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #0e1e1e;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: var(--font-color-sub);
}

.oauthButton:hover::before {
  width: 100%;
}

.auth-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.auth-separator > div {
  width: 150px;
  height: 3px;
  border-radius: 5px;
  background-color: #76987b;
}

.auth-separator > span {
  color: var(--font-color-sub);
  font-family: var(--font-SpaceMono);
  font-weight: 600;
}
