.navbar {
  background-color: rgba (255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 36px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter';
}
.navbar-title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #1876f2;
  text-decoration: none;

  span{
    color: #8317ff;
  }
}
.navbar-link {
  margin-left: 22px;
  font-size: 1.10rem;
  text-decoration: none;
  color: #222;
}
.navbar-btn {
  background: #e0f6e0;
  color: #197f1a;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 6px 18px;
  cursor: pointer;
  margin-left: 18px;
}
.navbar-actions {
  display: flex;
  align-items: center;
}
